.row_background_image{
	background: url('../img/persononlaptopjournaling1.jpg');
  	background-repeat: no-repeat !important;
  	background-size: cover !important;
  	background-position: center;
    height: 70vh;
  }
.centered_column{
	text-align: center;
  font-family: "Noto Serif", serif;
  font-size: 24px;
  font-size: 2vmax;
  color: #A9A9A9;
  }
.header_text{
  margin: auto;
  text-align: center;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 36px;
  font-size: 3.5vmax;
  color: #4a4a4a;
  }
.title_row_height{
  margin-top: 12vh;
  margin-bottom: 5vh;
  }
.paragraph_text{
  text-align: justify;
  font-family: "Noto Serif", serif;
  font-size: 20px;
  font-size: 1.5vmax;
  padding-left: 10px;
  color: #A9A9A9;
  }
.paragraph_text_italics{
    text-align: left;
    font-family: "Noto Serif", serif;
    font-size: 20px;
    font-size: 1.5vmax;
    font-style: italic;
    padding-left: 10px;
}
.science_label_text_formatting{
  padding-top: 10px;
}
.button_format{
  margin: auto;
}
.jumbotron_text { 
   color: white; 
   font: bold 48px/48px "Noto Sans JP", sans-serif;
   letter-spacing: -1px;  
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.7);
   padding: 15px;
   /*padding: 10px;*/
  }
.jumbotron_subheading { 
   color: white; 
   font: bold 24px/24px "Noto Sans JP", sans-serif;
   letter-spacing: -1px;  
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.7);
   margin-top: 5px;
   padding: 10px;
   display: inline-flex;
   /*padding: 10px;*/
  }
.signupbutton {
    display: block;
    margin: auto;
  }
.image_overlay_text{
  padding-top: 25%; 
  }
.friends_image_format{
  display: block;
  margin: auto;
  width: 80%;
}
.nav_font{
  font-family: "Noto Sans JP", sans-serif;
  font-size: 14px;
  font-size: 1.5vmax;
}
.social_button_format{
  margin-left: 2%;
}
.three_word_box{
  width: 20%;
}
.para_word_box{
  width: 20%;
  height: 20%;
}
.three_words_input{
  font-family: "Noto Serif", serif;
  font-size: 20px;
  font-size: 1.5vmax;
  padding-left: 10px;
  color: #A9A9A9;
}
.date_time_diary{
  text-align: justify;
  font-family: "Noto Serif", serif;
  font-weight: bold;
  font-size: 24px;
  font-size: 1.8vmax;
  padding-left: 10px;
  color: #4a4a4a;
}
.paragraph_text_reflection{
  text-align: left;
    font-family: "Noto Serif", serif;
    font-size: 20px;
    font-size: 1.5vmax;
    font-style: italic;
    padding-left: 10px;
    color: #4a4a4a;
}
.input_info{
  text-align: justify;
  font-family: "Noto Serif", serif;
  font-size: 10px;
  font-size: 1.5vmax;
  padding-left: 10px;
  color: #4a4a4a;
}
.logo{
  margin: auto;
}
.navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}
.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #8064A2;
    border-color: #8064A2;
}
@media only screen and (max-width : 900px){
.conditional_display{
  display: none;
}
}
