.row_background_image{
	background: url('../img/happypersononlaptop.jpg');
  	background-repeat: no-repeat !important;
  	background-size: cover !important;
  	background-position: center;
  }
.centered_column{
	text-align: center;
  font-family: "Noto Serif", serif;
  font-size: 2rem;
  color: #4a4a4a;
  }
.header_text{
  margin: auto;
  text-align: center;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 4rem;
  }
.title_row_height{
  margin-top: 15vh;
  margin-bottom: 5vh;
  }
.paragraph_text{
  text-align: justify;
  font-family: "Noto Serif", serif;
  font-size: 1.4rem;
  padding-left: 10px;
  }
.paragraph_text_italics{
    text-align: left;
    font-family: "Noto Serif", serif;
    font-size: 1.4rem;
    font-style: italic;
    padding-left: 10px;
}
.science_label_text_formatting{
  padding-top: 10px;
}
.button_format{
  margin: auto;
}
span { 
   color: white; 
   font: bold 48px/50px "Noto Sans JP", sans-serif;
   letter-spacing: -1px;  
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.7);
   /*padding: 10px;*/
  }
span.spacer {
   /*padding:0 2px;*/
  }
.image_overlay_text{
  padding-top: 25%; 
  }