.row_background_image{
	background: url('../img/persononlaptopjournaling1.jpg');
  	background-repeat: no-repeat !important;
  	background-size: cover !important;
  	background-position: center;
    height: 70vh;
  }
.centered_column{
	text-align: center;
  font-family: "Noto Serif", serif;
  font-size: 24px;
  font-size: 2vmax;
  color: #A9A9A9;
  }
.header_text{
  margin: auto;
  text-align: center;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 36px;
  font-size: 4vmax;
  color: #4a4a4a;
  }
.title_row_height{
  margin-top: 12vh;
  margin-bottom: 5vh;
  }
.paragraph_text{
  text-align: justify;
  font-family: "Noto Serif", serif;
  font-size: 20px;
  font-size: 1.5vmax;
  padding-left: 10px;
  color: #A9A9A9;
  }
.paragraph_text_italics{
    text-align: left;
    font-family: "Noto Serif", serif;
    font-size: 20px;
    font-size: 1.5vmax;
    font-style: italic;
    padding-left: 10px;
}
.science_label_text_formatting{
  padding-top: 10px;
}
.button_format{
  margin: auto;
}
span { 
   color: white; 
   font: bold 48px/48px "Noto Sans JP", sans-serif;
   letter-spacing: -1px;  
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.7);
   padding: 15px;
   /*padding: 10px;*/
  }
span.spacer {
   /*padding:0 2px;*/
  }
.jumbotron_subheading { 
   color: white; 
   font: bold 24px/24px "Noto Sans JP", sans-serif;
   letter-spacing: -1px;  
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.7);
   margin-top: 5px;
   padding: 10px;
   display: inline-flex;
   /*padding: 10px;*/
  }
.signupbutton {
    display: block;
    margin: auto;
  }
.image_overlay_text{
  padding-top: 25%; 
  }
.friends_image_format{
  display: block;
  margin: auto;
  width: 80%;
}
.nav_font{
  font-family: "Noto Sans JP", sans-serif;
  font-size: 14px;
  font-size: 1.5vmax;
}
.social_button_format{
  margin-left: 2%;
}